
View {
    background-image: url("../resource/textures/green/field.png");
    border-right: none;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    border-bottom: none;
}

QFrame#center_frame {
    border: none;
    background-image: url("../resource/textures/green/bg.jpg");
}

Tool {
    background: #9de398;
    border: none;
}

QToolButton {
    background: none;
    border: none;
    margin-top: 10px;
    margin-right: 2px ;
    margin-bottom: 10px;
    margin-left: 2px;

}

QToolButton:hover {
    background: none;
    border: 2px solid #d7efff;

}


Status {
    background: #6cdc79;
    border: none;
    color: #0505e7;
    font-family: "Century Gothic";
    font-size: 14pt;
    font-weight: 500;
}