
Main {
    background-color: #e3e3e3;
}

View {
    background-image: url("../resource/textures/grey/field.png");
    border-right: none;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    border-bottom: none;
}

Field {
    background-color: #b5b5b5;
}

QFrame#pc {
    border-top: none;
    border-right: none;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    background-image: url("../resource/textures/grey/bg.jpg");
}

QFrame#user {
    border-top: none;
    border-right: none;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    background-image: url("../resource/textures/grey/bg.jpg");
}

/*Tool {*/

    /*background: #e4e4e4;*/
    /*border: none;*/
/*}*/

Cell {
    background-color: #e0e0e0;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: none;
    border-left: none;
    font-size: 25px;

}

/*Cell:checked {*/
    /*background-color: #6fe043;*/
    /*border-top: 1px solid gray;*/
    /*border-right: 1px solid gray;*/
    /*border-bottom: none;*/
    /*border-left: none;*/

/*}*/

/*Cell:hover {*/
    /*border: 3px solid #59c863;*/
/*}*/


Status {

    background: #cecece;
    border: none;
    color: #4d4a4c;
    font-family: "DejaVu Sans Mono";
    font-size: 14pt;
    font-weight: 400;
}

QMessageBox {
    background: #d0d0d0;
    font-family: Dialog;
    font-size: 14pt;
}